<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update a Teacher</title>
</head>
<body>
<form action="#" th:method="PATCH" th:action="@{/api/teachers/{id}(id=${teacherUpdate.getId()})}" th:object="${teacherUpdate}">
    <label for="firstName">Enter firstName:</label>

    <input type="text" th:field="${teacherUpdate.firstName}" id="firstName"/>
    <br/>
    <label for="lastName">Enter lastName: </label>
    <!--/*@thymesVar id="locatedCountry" type="crud_lms.models.Company"*/-->
    <input type="text" th:field="${teacherUpdate.lastName}" id="lastName"/>
    <br/>
    <label for="email">Enter Email: </label>
    <!--/*@thymesVar id="locatedCountry" type="crud_lms.models.Company"*/-->
    <input type="text" th:field="${teacherUpdate.email}" id="email"/>
    <br/>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>